{
  "swagger": "2.0",
  "info": {
    "title": "Mitto Messaging Chat",
    "version": "1.0.0",
    "description": "The Mitto Messaging API connector allows integration of Mitto's services into workflows to: \n- Send Chat messages. \n- Get Message Detail by Id. \n- Receive incoming message.\n- Monitor delivery, read, or error events.\n- Get the list of traffic accounts associated with the used API Key.",
    "contact": {
        "name": "Alessandro Drago",
        "email": "alessandro.drago@impresoftengage.com",
        "url": "https://www.impresoftengage.com/"
    }
  },
  "host": "messaging.mittoapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v{version}/Messages/send": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a single message",
        "operationId": "Messages_SendMessage",
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "version",
			"x-ms-summary": "API Version",
			"description": "The current version of the API.",
            "in": "path",
            "required": true,
            "type": "number",
            "default": 1.1,
            "x-ms-visibility": "advanced",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "trafficAccountId": {
                  "type": "string",
                  "description": "The traffic account ID related to the sender",
                  "title": "Traffic Account ID"
                },
                "destination": {
                  "type": "string",
                  "description": "The phone number of the receiver",
                  "title": "Receiver"
                },
                "whatsApp": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "The type of the message",
                      "title": "WhatsApp - Message type",
                      "enum": [
                        "Template",
                        "Regular",
                        "Inbound"
                      ]
                    },
                    "template": {
                      "x-ms-visibility": "advanced",
                      "type": "object",
                      "properties": {
                        "namespace": {
                          "type": "string",
                          "description": "Namespace of the template",
                          "title": "WhatsApp - Template - Namespace",
                          "x-ms-visibility": "advanced"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the template",
                          "title": "WhatsApp - Template - Name"
                        },
                        "language": {
                          "type": "object",
                          "properties": {
                            "policy": {
                              "type": "string",
                              "description": "policy",
                              "title": "WhatsApp - Template - Language Policy",
                              "x-ms-visibility": "advanced"
                            },
                            "code": {
                              "type": "string",
                              "description": "The code of the language or locale to use (iso code Alpha-2 ISO 639-1)",
                              "title": "WhatsApp - Template - Language Code"
                            }
                          },
                          "description": "language"
                        },
                        "components": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "Describes the component type",
                                "title": "WhatsApp - Template - Components Type",
                                "enum": [
                                  "header",
                                  "body"
                                ]
                              },
                              "parameters": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "description": "Describes the parameter type",
                                      "enum": [
                                        "text",
                                        "currency",
                                        "date_time",
                                        "image",
                                        "document",
                                        "video"
                                      ],
                                      "title": "WhatsApp - Template - Components Parameters Type"
                                    },
                                    "text": {
                                      "type": "string",
                                      "description": "Text content of the parameter(required if type is \"text\")",
                                      "title": "WhatsApp - Template - Components Parameters Type"
                                    },
                                    "image": {
                                      "type": "object",
                                      "properties": {
                                        "link": {
                                          "type": "string",
                                          "description": "Image URL",
                                          "title": "WhatsApp - Template - Components Parameters Image link"
                                        },
                                        "provider": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "Provider name",
                                              "title": "WhatsApp - Template - Components Parameters Image Provider Name"
                                            }
                                          },
                                          "description": "This path is optionally used with link when the HTTP/HTTPS link is not directly accessible and requires additional configurations like a bearer token",
                                          "x-ms-visibility": "advanced"
                                        }
                                      },
                                      "description": "Represents image object(required if type is \"image\")"
                                    },
                                    "video": {
                                      "type": "object",
                                      "properties": {
                                        "link": {
                                          "type": "string",
                                          "description": "Video URL",
                                          "title": "WhatsApp - Template - Components Parameters Video link"
                                        },
                                        "provider": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "Provider name",
                                              "title": "WhatsApp - Template - Components Parameters Video Provider Name"
                                            }
                                          },
                                          "description": "This path is optionally used with link when the HTTP/HTTPS link is not directly accessible and requires additional configurations like a bearer token",
                                          "x-ms-visibility": "advanced"
                                        }
                                      },
                                      "description": "Represents video object(required if type is \"video\")"
                                    },
                                    "document": {
                                      "type": "object",
                                      "properties": {
                                        "link": {
                                          "type": "string",
                                          "description": "Document URL",
                                          "title": "WhatsApp - Template - Components Parameters Document link"
                                        },
                                        "filename": {
                                          "type": "string",
                                          "description": "File name",
                                          "title": "WhatsApp - Template - Components Parameters Document filename"
                                        },
                                        "provider": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "Provider name",
                                              "title": "WhatsApp - Template - Components Parameters Document Provider Name"
                                            }
                                          },
                                          "description": "This path is optionally used with link when the HTTP/HTTPS link is not directly accessible and requires additional configurations like a bearer token",
                                          "x-ms-visibility": "advanced"
                                        }
                                      },
                                      "description": "Represents document object(required if type is \"document\")"
                                    },
                                    "currency": {
                                      "type": "object",
                                      "properties": {
                                        "fallback_value": {
                                          "type": "string",
                                          "description": "Fallback value",
                                          "title": "WhatsApp - Template - Components Parameters Currency - Fallback value"
                                        },
                                        "code": {
                                          "type": "string",
                                          "description": "Currency code (format ISO 4217)",
                                          "title": "WhatsApp - Template - Components Parameters Currency - code"
                                        },
                                        "amount_1000": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Amount",
                                          "title": "WhatsApp - Template - Components Parameters Currency - Amount"
                                        }
                                      },
                                      "description": "Represents currency object(required if type is \"currency\")"
                                    },
                                    "date_time": {
                                      "type": "object",
                                      "properties": {
                                        "fallback_value": {
                                          "type": "string",
                                          "description": "Fallback value",
                                          "title": "WhatsApp - Template - Components Parameters Date time - Fallback value"
                                        },
                                        "day_of_week": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Day of week",
                                          "title": "WhatsApp - Template - Components Parameters Date time - Day of week"
                                        },
                                        "day_of_month": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "Day of month",
                                          "title": "WhatsApp - Template - Components Parameters Date time - Day of month"
                                        },
                                        "year": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "year",
                                          "title": "WhatsApp - Template - Components Parameters Date time - year"
                                        },
                                        "month": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "month",
                                          "title": "WhatsApp - Template - Components Parameters Date time - month"
                                        },
                                        "hour": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "hour",
                                          "title": "WhatsApp - Template - Components Parameters Date time - hour"
                                        },
                                        "minutes": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "minutes",
                                          "title": "WhatsApp - Template - Components Parameters Date time - minutes"
                                        },
                                        "timestamp": {
                                          "type": "integer",
                                          "format": "int32",
                                          "description": "timestamp",
                                          "title": "WhatsApp - Template - Components Parameters Date time - timestamp"
                                        }
                                      },
                                      "description": "Represents dateTime object(required if type is \"date_time\")"
                                    }
                                  }
                                },
                                "description": "parameters"
                              }
                            }
                          },
                          "description": "Array containing the parameters of the message"
                        }
                      },
                      "description": "template"
                    },
                    "regular": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Regular message content type",
                          "title": "WhatsApp - Regular - Content Type",
                          "enum": [
                            "Text",
                            "Image",
                            "File",
                            "Location"
                          ]
                        },
                        "text": {
                          "type": "string",
                          "description": "Text content of the message (required if message type is \"text\")",
                          "title": "WhatsApp - Regular - Text"
                        },
                        "mediaUrl": {
                          "x-ms-visibility": "advanced",
                          "type": "string",
                          "description": "URL used for the message (required if message type is \"file\" or \"image\")",
                          "title": "WhatsApp - Regular - Media URL"
                        },
                        "coordinates": {
                          "x-ms-visibility": "advanced",
                          "type": "object",
                          "properties": {
                            "lat": {
                              "type": "number",
                              "format": "float",
                              "description": "Floating point value representing the latitude of the location",
                              "title": "WhatsApp - Regular - Coordinates - Latitude"
                            },
                            "long": {
                              "type": "number",
                              "format": "float",
                              "description": "Floating point value representing the longitude  of the location",
                              "title": "WhatsApp - Regular - Coordinates - longitude"
                            }
                          },
                          "description": "Coordinates of the location(required if message type is \"location\")"
                        },
                        "location": {
                          "x-ms-visibility": "advanced",
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "description": "String representing the address of the location",
                              "title": "WhatsApp - Regular - Location - address"
                            },
                            "name": {
                              "type": "string",
                              "description": "String representing the name of the location",
                              "title": "WhatsApp - Regular - Location - name"
                            }
                          },
                          "description": "Information about the location"
                        }
                      },
                      "description": "regular"
                    }
                  },
                  "description": "WhatsApp object (required if TrafficAccount has WhatsApp messaging application)"
                }
              },
              "required": [
                "destination",
                "trafficAccountId"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Message response",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "Message Id",
                  "title": "Message Id"
                },
                "conversation": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Conversation ID",
                      "title": "Conversation ID"
                    }
                  },
                  "description": "conversation"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Created On",
                  "title": "Created On"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Modified On",
                  "title": "Modified On"
                },
                "deliveryStatus": {
                  "type": "string",
                  "description": "Delivery Status",
                  "title": "Delivery Status"
                }
              }
            }
          }          
        },
        "description": "Send a chat template for marketing or text message for customer service support"
      }
    },
    "/api/v{version}/Messages/{Message Id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get Message details by Id",
        "operationId": "Messages_GetMessage",
        "parameters": [
          {
            "type": "string",
            "name": "Message Id",
            "in": "path",
            "required": true,
            "x-nullable": false,
			"x-ms-summary": "The message identifier to retrieve",
			"x-ms-url-encoding": "single",
            "description": "The message identifier to retrieve"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "x-nullable": true,
            "type": "number",
            "default": 1.1,
			"x-ms-summary": "API Version",
			"description": "The current version of the API.",
            "x-ms-visibility": "advanced",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Message response",
            "schema": {
              "type": "object",
              "properties": {
                "messageId": {
                  "type": "string",
                  "description": "Message Id",
                  "title": "Message Id"
                },
                "text": {
                  "type": "string",
                  "description": "The text of the chat",
                  "title": "Text"
                },
                "mediaUrl": {
                  "type": "string",
                  "description": "Media Url",
                  "title": "Media Url"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Sender ID",
                      "title": "Sender ID"
                    },
                    "phoneNumber": {
                      "type": "string",
                      "description": "Phone Number",
                      "title": "Phone Number"
                    },
                    "name": {
                      "type": "string",
                      "description": "Sender Name",
                      "title": "Sender Name"
                    }
                  },
                  "description": "sender"
                },
                "conversation": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "conversationid",
                      "title": "Conversation ID"
                    },
                    "participants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "participantid",
                            "title": "Participant ID"
                          },
                          "phoneNumber": {
                            "type": "string",
                            "description": "Phone Number",
                            "title": "Phone Number"
                          },
                          "name": {
                            "type": "string",
                            "description": "Participant name",
                            "title": "Participant Name"
                          }
                        }
                      },
                      "description": "participants"
                    }
                  },
                  "description": "conversation"
                },
                "createdAt": {
                  "type": "string",
                  "description": "Created On",
                  "title": "Created On"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Modified On",
                  "title": "Modified On"
                },
                "trafficAccountId": {
                  "type": "string",
                  "description": "Traffic Account Id",
                  "title": "Traffic Account Id"
                },
                "deliveryStatus": {
                  "type": "string",
                  "description": "Delivery Status",
                  "title": "Delivery Status"
                },
                "description": {
                  "type": "string",
                  "description": "Description",
                  "title": "Description"
                }
              }
            }
          }          
        },
        "description": "Get Message details by Id"
      }
    },
    "/api/v{version}/TrafficAccounts": {
      "get": {
        "tags": [
          "TrafficAccounts"
        ],
        "summary": "Get all Traffic Accounts",
        "operationId": "TrafficAccounts_Get",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "x-nullable": true,
            "type": "number",
			"x-ms-summary": "API Version",
			"description": "The current version of the API.",
            "default": 1.1,
            "x-ms-visibility": "advanced",
			"x-ms-url-encoding": "single"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Traffic accounts list",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "description": "Traffic account model",
                "required": [
                  "id",
                  "isActive"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Traffic account ID",
                    "title": "Traffic account ID",
                    "example": "906b5d8f-2870-4290-8813-a975463f5525"
                  },
                  "messagingApplicationName": {
                    "type": "string",
                    "description": "Messaging application name",
                    "title": "Messaging application name",
                    "example": "WhatsApp"
                  },
                  "isActive": {
                    "type": "boolean",
                    "description": "True if active",
                    "title": "Is Active",
                    "example": true
                  },
                  "senderName": {
                    "type": "string",
                    "description": "Traffic account message sender name",
                    "title": "Sender Name",
                    "example": "Mitto"
                  },
                  "senderNumber": {
                    "type": "string",
                    "description": "Traffic account message sender number",
                    "title": "Sender Number",
                    "example": "0123456789"
                  }
                }
              }
            }
          }
        },
        "description": "Get all Traffic Accounts"
      }
    },
    "/api/v{version}/webhooks": {
      "x-ms-notification-content": {
        "schema": {
          "type": "object",
          "properties": {
            "messageId": {
              "type": "string",
              "description": "messageId",
              "title": "Message ID"
            },
            "webhookTriggerType": {
              "type": "string",
              "description": "Event",
              "title": "Event"
            },
            "trafficAccountId": {
              "type": "string",
              "description": "Traffic account ID",
              "title": "Traffic account ID"
            },
            "conversationId": {
              "type": "string",
              "description": "Conversation ID",
              "title": "Conversation ID"
            },
            "sender": {
              "type": "string",
              "description": "Sender",
              "title": "Sender"
            },
            "name": {
              "type": "string",
              "description": "Name",
              "title": "Name"
            },
            "text": {
              "type": "string",
              "description": "Text",
              "title": "Text"
            },
            "receivedAt": {
              "type": "string",
              "description": "Received On",
              "title": "Received On"
            },
            "type": {
              "type": "string",
              "description": "Type",
              "title": "Type"
            },
            "mediaUrl": {
              "type": "string",
              "description": "mediaUrl",
              "title": "Media URL"
            },
            "updatedAt": {
              "type": "string",
              "description": "Modified On",
              "title": "Modified On"
            },
            "destination": {
              "type": "string",
              "description": "Destination",
              "title": "Destination"
            }
          }
        },
        "description": "Callback"
      },
      "post": {
        "summary": "When a message is received, delivered, read or failed",
        "consumes": ["application/json"],
        "description": "When a message is received, delivered, read or failed",
        "operationId": "Messages_WhenAnEventIsReceived",
        "x-ms-trigger": "single",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "x-nullable": true,
            "type": "number",
			"x-ms-summary": "API Version",
			"description": "The current version of the API.",
            "default": 1.1,
            "x-ms-visibility": "advanced",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "linkTrafficAccountIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "The traffic account IDs associated with the sender",
                  "title": "Traffic Account IDs"
                },
                "url": {
                  "type": "string",
                  "description": "url",
                  "x-ms-notification-url": true,
                  "x-ms-visibility": "internal",
                  "title": "Url"
                },
                "webhookTriggers": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "title": "Event",
                    "enum": [
                      "Delivered",
                      "Failed",
                      "Read",
                      "UserMessage"
                    ],
                    "description": "The event to be monitored"
                  },
                  "description": "Webhook Triggers Events",
                  "title": "Events"
                }
              },
              "required": [
                "url",
                "webhookTriggers",
                "linkTrafficAccountIds"
              ]
            }
          }
        ],
        "x-ms-visibility": "important",
		"responses": {
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "id",
                  "title": "id"
                }
              }
            }
          }
        }
      }
    },
    "/api/v{version}/webhooks/{id}": {
      "delete": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "operationId": "Webhook_deletation",
        "summary": "Unsubscribe webhook",
        "description": "Unsubscribe webhook",
        "x-ms-visibility": "internal",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "number",
			"x-ms-summary": "API Version",
			"description": "The current version of the API.",
            "default": 1.1,
            "x-ms-visibility": "advanced",
			"x-ms-url-encoding": "single"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
			"x-ms-url-encoding": "single"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "X-Mitto-API-Key"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [],
  "x-ms-connector-metadata": [
	{
      "propertyName": "brandColor",
      "propertyValue": "#0078D7"
    },
    {
      "propertyName": "Website",
      "propertyValue": "https://mitto.ch"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://mitto.ch/privacy-policy"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Communication"
    }
  ]
}
